In [64]:
import pandas as pd

In [65]:
goodreads_df = pd.read_csv("../Resources/goodreads_dataset.csv")
goodreads_df.head()

,title,titleComplete,description,genres,isbn,publisher,author,characters,places,ratingHistogram,ratingsCount,reviewsCount,numPages,language
0,Project Hail Mary,Project Hail Mary,Ryland Grace is the sole survivor on a despera...,"['Science Fiction Fantasy', 'Audiobook', 'Fant...",0593135202,Ballantine Books,['Andy Weir'],"['Ryland Grace', 'Rocky']","['Tau Ceti System', 'Outer Space']","[1917, 5775, 29742, 116572, 266669]",420675.0,53538.0,476.0,English
1,The Talented Mr. Ripley,"The Talented Mr. Ripley (Ripley, #1)","Since his debut in 1955, Tom Ripley has evolve...","['Novels', 'Noir', 'Classics', 'Italy', 'Suspe...",0393332144,W. W. Norton Company,['Patricia Highsmith'],"['Freddie Miles', 'Tom Ripley', 'Dickie Greenl...","['Italy', 'New York City, New York', 'Italian ...","[1483, 3902, 17161, 34467, 24270]",81283.0,5146.0,288.0,English
2,More Than This,More Than This,"A boy drowns, desperate and alone in his final...","['Queer', 'Fantasy', 'Contemporary', 'LGBT', '...",1406350486,Walker Books Ltd,['Patrick Ness'],['Seth Wearing'],NaN,"[1441, 3672, 12295, 23873, 21208]",62489.0,8194.0,480.0,English
3,After Forever Ends,After Forever Ends,Orphaned by her mother and brushed off by her ...,"['Chick Lit', 'Fantasy', 'Coming Of Age', 'Con...",NaN,Gingersnap Press,['Melodie Ramone'],NaN,NaN,"[81, 119, 205, 365, 750]",1520.0,241.0,564.0,English
4,A Bird Without Wings,A Bird Without Wings,"After an impoverished and indigent childhood, ...","['Contemporary', 'Contemporary Romance', 'Roma...",NaN,Smashwords,['Roberta Pearce'],NaN,NaN,"[7, 6, 26, 49, 91]",179.0,31.0,NaN,English

In [66]:
reviews_df = pd.read_csv("../Resources/book_reviews.csv")
reviews_df.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,0671551345,Night World: Daughters Of Darkness,NaN,ADB0JID2XRFYR,Harmony-Faith Charisma Izabela Jazmyn McDonague,1/3,5.0,1076457600,BEST BOOK EVER!!,This is 1 of da bst books dat i have EVER read...
1,0671551345,Night World: Daughters Of Darkness,NaN,NaN,NaN,1/3,5.0,1043971200,one of the best night world books!!!!,first of all i thought that this was one of lj...
2,0671551345,Night World: Daughters Of Darkness,NaN,NaN,NaN,1/3,3.0,960422400,three sisters to die for.......,"Once started I couldn't put it down, literally..."
3,0671551345,Night World: Daughters Of Darkness,NaN,A1V0SFB3AXM8JK,"K. Davis ""The Rose Bride""",0/2,1.0,1177718400,Disappointing to say the least,"This book is probably, in my opinion, one of (..."
4,0671551345,Night World: Daughters Of Darkness,NaN,NaN,NaN,0/0,5.0,889920000,"The most charming, captivating work from LJ Sm...",The plot and characters are incredible. Everyo...

In [67]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17158 entries, 0 to 17157
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  17158 non-null  object
 1   Title               17158 non-null  object
 2   Price               10897 non-null  float64
 3   User_id             14573 non-null  object
 4   profileName         14572 non-null  object
 5   review/helpfulness  17158 non-null  object
 6   review/score        17158 non-null  float64
 7   review/time         17158 non-null  int64
 8   review/summary      17155 non-null  object
 9   review/text         17158 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.3+ MB

In [68]:
reviews_df.isna().sum()

Id                       0
Title                    0
Price                 6261
User_id               2585
profileName           2586
review/helpfulness       0
review/score             0
review/time              0
review/summary           3
review/text              0
dtype: int64

In [69]:
goodreads_df.isna().sum()

title                 0
titleComplete         0
description           0
genres                0
isbn               2974
publisher           670
author                2
characters         7535
places             8741
ratingHistogram       3
ratingsCount          3
reviewsCount         20
numPages            245
language            354
dtype: int64

In [70]:
import ast
# Function to safely parse string lists
def parse_string_list(column):
    return column.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith('[') else [])

In [ ]:
# # # Cleaning Goodreads dataset
# goodreads_df['genres'] = parse_string_list(goodreads_df['genres'])
# goodreads_df['characters'] = parse_string_list(goodreads_df['characters'])
# goodreads_df['places'] = parse_string_list(goodreads_df['places'])
# goodreads_df['ratingHistogram'] = parse_string_list(goodreads_df['ratingHistogram'])

In [71]:
# Handling missing values in Goodreads dataset
goodreads_df = goodreads_df.assign(
    isbn=goodreads_df['isbn'].fillna('Unknown'),
    publisher=goodreads_df['publisher'].fillna('Unknown'),
    author=goodreads_df['author'].fillna('Unknown'),
    numPages=goodreads_df['numPages'].fillna(goodreads_df['numPages'].median()),
    language=goodreads_df['language'].fillna('Unknown')
)

In [72]:
# Convert numerical fields to integers
goodreads_df.dropna(subset=['ratingsCount', 'reviewsCount'], inplace=True)
goodreads_df['ratingsCount'] = goodreads_df['ratingsCount'].astype(int)
goodreads_df['reviewsCount'] = goodreads_df['reviewsCount'].astype(int)
goodreads_df['numPages'] = goodreads_df['numPages'].astype(int)

In [73]:
goodreads_df.head()

,title,titleComplete,description,genres,isbn,publisher,author,characters,places,ratingHistogram,ratingsCount,reviewsCount,numPages,language
0,Project Hail Mary,Project Hail Mary,Ryland Grace is the sole survivor on a despera...,"['Science Fiction Fantasy', 'Audiobook', 'Fant...",0593135202,Ballantine Books,['Andy Weir'],"['Ryland Grace', 'Rocky']","['Tau Ceti System', 'Outer Space']","[1917, 5775, 29742, 116572, 266669]",420675,53538,476,English
1,The Talented Mr. Ripley,"The Talented Mr. Ripley (Ripley, #1)","Since his debut in 1955, Tom Ripley has evolve...","['Novels', 'Noir', 'Classics', 'Italy', 'Suspe...",0393332144,W. W. Norton Company,['Patricia Highsmith'],"['Freddie Miles', 'Tom Ripley', 'Dickie Greenl...","['Italy', 'New York City, New York', 'Italian ...","[1483, 3902, 17161, 34467, 24270]",81283,5146,288,English
2,More Than This,More Than This,"A boy drowns, desperate and alone in his final...","['Queer', 'Fantasy', 'Contemporary', 'LGBT', '...",1406350486,Walker Books Ltd,['Patrick Ness'],['Seth Wearing'],NaN,"[1441, 3672, 12295, 23873, 21208]",62489,8194,480,English
3,After Forever Ends,After Forever Ends,Orphaned by her mother and brushed off by her ...,"['Chick Lit', 'Fantasy', 'Coming Of Age', 'Con...",Unknown,Gingersnap Press,['Melodie Ramone'],NaN,NaN,"[81, 119, 205, 365, 750]",1520,241,564,English
4,A Bird Without Wings,A Bird Without Wings,"After an impoverished and indigent childhood, ...","['Contemporary', 'Contemporary Romance', 'Roma...",Unknown,Smashwords,['Roberta Pearce'],NaN,NaN,"[7, 6, 26, 49, 91]",179,31,336,English

In [74]:
# Cleaning Book Reviews dataset
reviews_df = reviews_df.assign(
    Price=reviews_df['Price'].fillna(reviews_df['Price'].median()),
    User_id=reviews_df['User_id'].fillna('Unknown'),
    profileName=reviews_df['profileName'].fillna('Unknown')
)

In [76]:
#  Ensure that "1/5" becomes 1.0, "2/5" becomes 2.0
reviews_df['review/helpfulness'] = reviews_df['review/helpfulness'].str.split('/').str[0].astype(float)
reviews_df.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,0671551345,Night World: Daughters Of Darkness,10.85,ADB0JID2XRFYR,Harmony-Faith Charisma Izabela Jazmyn McDonague,1.0,5.0,1076457600,BEST BOOK EVER!!,This is 1 of da bst books dat i have EVER read...
1,0671551345,Night World: Daughters Of Darkness,10.85,Unknown,Unknown,1.0,5.0,1043971200,one of the best night world books!!!!,first of all i thought that this was one of lj...
2,0671551345,Night World: Daughters Of Darkness,10.85,Unknown,Unknown,1.0,3.0,960422400,three sisters to die for.......,"Once started I couldn't put it down, literally..."
3,0671551345,Night World: Daughters Of Darkness,10.85,A1V0SFB3AXM8JK,"K. Davis ""The Rose Bride""",0.0,1.0,1177718400,Disappointing to say the least,"This book is probably, in my opinion, one of (..."
4,0671551345,Night World: Daughters Of Darkness,10.85,Unknown,Unknown,0.0,5.0,889920000,"The most charming, captivating work from LJ Sm...",The plot and characters are incredible. Everyo...

In [78]:
goodreads_df

,title,titleComplete,description,genres,isbn,publisher,author,characters,places,ratingHistogram,ratingsCount,reviewsCount,numPages,language
0,Project Hail Mary,Project Hail Mary,Ryland Grace is the sole survivor on a despera...,"['Science Fiction Fantasy', 'Audiobook', 'Fant...",0593135202,Ballantine Books,['Andy Weir'],"['Ryland Grace', 'Rocky']","['Tau Ceti System', 'Outer Space']","[1917, 5775, 29742, 116572, 266669]",420675,53538,476,English
1,The Talented Mr. Ripley,"The Talented Mr. Ripley (Ripley, #1)","Since his debut in 1955, Tom Ripley has evolve...","['Novels', 'Noir', 'Classics', 'Italy', 'Suspe...",0393332144,W. W. Norton Company,['Patricia Highsmith'],"['Freddie Miles', 'Tom Ripley', 'Dickie Greenl...","['Italy', 'New York City, New York', 'Italian ...","[1483, 3902, 17161, 34467, 24270]",81283,5146,288,English
2,More Than This,More Than This,"A boy drowns, desperate and alone in his final...","['Queer', 'Fantasy', 'Contemporary', 'LGBT', '...",1406350486,Walker Books Ltd,['Patrick Ness'],['Seth Wearing'],NaN,"[1441, 3672, 12295, 23873, 21208]",62489,8194,480,English
3,After Forever Ends,After Forever Ends,Orphaned by her mother and brushed off by her ...,"['Chick Lit', 'Fantasy', 'Coming Of Age', 'Con...",Unknown,Gingersnap Press,['Melodie Ramone'],NaN,NaN,"[81, 119, 205, 365, 750]",1520,241,564,English
4,A Bird Without Wings,A Bird Without Wings,"After an impoverished and indigent childhood, ...","['Contemporary', 'Contemporary Romance', 'Roma...",Unknown,Smashwords,['Roberta Pearce'],NaN,NaN,"[7, 6, 26, 49, 91]",179,31,336,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14707,The Woman in the Dunes,The Woman in the Dunes,"The Woman in the Dunes, by celebrated writer a...","['Classics', 'Fiction', 'Japan', 'Novels', 'Ja...",0679733787,Vintage,['Kōbō Abe'],['Niki Jumpei'],['Japan'],"[476, 1807, 6612, 12360, 8624]",29879,2648,241,English
14708,The Highwayman's Footsteps,The Highwayman's Footsteps,"""I felt cold metal on the side of my skull bef...","['Adventure', 'Young Adult', 'Historical', 'Te...",0763634727,Candlewick Press,['Nicola Morgan'],NaN,NaN,"[3, 28, 90, 99, 60]",280,27,368,English
14709,The Knight at Dawn,"The Knight at Dawn (Magic Tree House, #2)",\n Peacocks for dinner and boys in skirts?\nT...,"['Adventure', 'Middle Grade', 'Magic', 'Childr...",067982412X,Random House,"['Sal Murdocca', 'Mary Pope Osborne']",NaN,"['Frog Creek, Pennsylvania']","[501, 1497, 6239, 6847, 8496]",23580,1160,66,English
14710,Sleepaway Girls,"Sleepaway Girls (Whispering Pines, #1)",When Sam's best friend gets her first boyfrien...,"['Young Adult Contemporary', 'Middle Grade', '...",0316017175,"Little, Brown Books for Young Readers",['Jen Calonita'],NaN,NaN,"[92, 293, 914, 1548, 2150]",4997,373,304,English
14711,Immortal,Immortal,The wound inflicted only a few minutes before ...,"['Magic', 'Love', 'Vampires', 'Supernatural', ...",Unknown,Lauren Burd,['Lauren Burd'],NaN,NaN,"[246, 485, 1246, 1381, 1507]",4865,274,336,Unknown

In [82]:
# Standardizing column names for merging
goodreads_df.rename(columns={'title': 'Title'}, inplace=True)

# Merging the datasets on 'Title'
merged_df = pd.merge(goodreads_df, reviews_df, on='Title', how='inner')
merged_df.head()

,Title,titleComplete,description,genres,isbn,publisher,author,characters,places,ratingHistogram,...,language,Id,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,Eva Luna,Eva Luna,Meet New York Times bestselling author Isabel ...,"['Novels', 'Literature', 'Classics', 'Historic...",0553280589,Bantam,['Isabel Allende'],"['El Negro', 'Rolf Carlé', 'Huberto Naranjo', ...",['Chile'],"[403, 1956, 11041, 20237, 15737]",...,English,0553280589,10.85,Unknown,Unknown,41.0,5.0,855705600,The author's use of magic realism will spur yo...,Are you looking to add some vivid color into y...
1,Eva Luna,Eva Luna,Meet New York Times bestselling author Isabel ...,"['Novels', 'Literature', 'Classics', 'Historic...",0553280589,Bantam,['Isabel Allende'],"['El Negro', 'Rolf Carlé', 'Huberto Naranjo', ...",['Chile'],"[403, 1956, 11041, 20237, 15737]",...,English,0553280589,10.85,A6IKQOVUT6AI4,Bonita L. Davis,24.0,5.0,1011744000,CAPTIVATING,Conceived on her father's deathbed and almost ...
2,Eva Luna,Eva Luna,Meet New York Times bestselling author Isabel ...,"['Novels', 'Literature', 'Classics', 'Historic...",0553280589,Bantam,['Isabel Allende'],"['El Negro', 'Rolf Carlé', 'Huberto Naranjo', ...",['Chile'],"[403, 1956, 11041, 20237, 15737]",...,English,0553280589,10.85,A2ODBHT4URXVXQ,"Peggy Vincent ""author and reader""",21.0,4.0,1067731200,A good one by Allende,"Sometimes, actually pretty often, Isabel Allen..."
3,Eva Luna,Eva Luna,Meet New York Times bestselling author Isabel ...,"['Novels', 'Literature', 'Classics', 'Historic...",0553280589,Bantam,['Isabel Allende'],"['El Negro', 'Rolf Carlé', 'Huberto Naranjo', ...",['Chile'],"[403, 1956, 11041, 20237, 15737]",...,English,0553280589,10.85,Unknown,Unknown,14.0,5.0,924307200,BEAUTIFUL AND EXTREMELY ENTERTAINING,This amazing story of an orphan whose life see...
4,Eva Luna,Eva Luna,Meet New York Times bestselling author Isabel ...,"['Novels', 'Literature', 'Classics', 'Historic...",0553280589,Bantam,['Isabel Allende'],"['El Negro', 'Rolf Carlé', 'Huberto Naranjo', ...",['Chile'],"[403, 1956, 11041, 20237, 15737]",...,English,0553280589,10.85,A2MOBMVHECYVLE,saliero,7.0,4.0,983836800,Mystical,I found the first half of the book put-downabl...